

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    color: var(--secondaryColor);
}

:root {
    --mainTrans:all 0.3s ease-in-out;
    --letterSpacing: 0.5rem;
    --mainColor: rgb(130, 20, 200);
    --secondaryColor: white;
    --terciaryColor: gray;
    --backgroundColor: rgb(36, 36, 36);
}

/* Helper/utility classes */

a {
    text-decoration: none;
}

.text-white {
    color: var(--secondaryColor);
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--mainColor);
}

/* Clearfix */
.clearfix::after, .clearfix::before{
    content: '';
    clear: both;
    display: table;
}
/* Globals */
/* Nav */

nav ul {
    display: flex;
    background-color: var(--backgroundColor);
}

nav ul li {
    color: white;
    font-size: 20px;
    list-style: none;
    text-align: center;
    display: flex;
}

nav ul li a {
    color: white;
    font-weight: 900;
    padding: 1rem 3rem 1rem 3rem;    
}

.current {
    background-color: var(--mainColor);
}

.current:hover {
    background-color: rgb(138, 57, 192);
}

nav ul li:not(.current) a:hover {
    background-color: rgb(50, 50, 50);
}

@media screen and (max-width:55rem) {
    nav ul {
        display: grid;
        justify-items: center;
        width: 100%;
    }
    nav ul li a {
        padding: 1rem 35vw 1rem 35vw;
        text-align: center;
    }
}

/* End of nav */
/* Header */

.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Images/Epicum.jpg) center/cover no-repeat fixed;
    position: relative;
}

/* Banner */

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.banner-subtitle {
    font: 2rem;
    color: var(--mainColor);
    font-weight: 900;
    font-size: 2rem;
    animation: banner-subtitle 3s;
}

.banner-title {
    font-size: 3.2rem;
    color: white;
    margin-top: 0.1rem;
    animation: banner-title 1.5s;
}

.main-btn, .banner-btn {
    display: inline-block;
    background: var(--mainColor);
    text-transform: uppercase;
    border: 3px solid var(--mainColor);
    padding: 0.8rem 1.2rem;
    font-size: 20px;
    color:var(--terciaryColor);
    font-weight: bold;
    outline: 0.2rem solid var(--mainColor);
    outline-offset: 5px;
    cursor: pointer;
    margin-top: 2rem;
    transition: 0.5s;
}

.main-btn,.banner-btn:hover {
    color: var(--secondaryColor);
    transform: scale(1.1);
    outline-offset: 2px;
}

.banner-btn {
    padding: 1.2rem 1.8rem;
    animation: banner-btn 3s;
}

/* Animations */

@keyframes banner-subtitle {
    0%{
        transform: translateY(3rem);
    }
    20%{
        transform: translateY(3rem);
    }
    45%{
        transform: translateY(-0.5rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

@keyframes banner-title {
    0%{
        transform: translateY(-5rem);
    }
    75%{
        transform: translateY(0.5rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

@keyframes banner-btn {
    0%{
        transform: translateY(-10rem);
    }
    20%{
        transform: translateY(-10rem);
    }
    45%{
        transform: translateY(0.5rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

/* End of animations */
/* End of header */

/* Content divider */

.content-divider {
    height: 0.5rem;
    background: var(--mainColor);
}

/* End of content divider */

/* Parts */

.parts {
    background-color: var(--backgroundColor);
}

.part {
    padding: 2.5rem 0;
    text-align: center;
    transition: 0.5s;
}

.part-e {
    padding: 2.5rem 0;
    text-align: center;
    transition: 0.5s;
}

.part-icon {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    transition: 0.5s;
    display: inline-block;
    color: var(--secondaryColor);
}

.part img {
    width: 100%;
    margin-bottom: 0.5rem;
}

.part-e img {
    width: 100%;
    margin-bottom: 0.5rem;
}

.part-title {
    font: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    color: var(--mainColor);
    transition: 0.5s;
}

.part-text {
    max-width: 13rem;
    margin: 0 auto;
    color: var(--secondaryColor);
}

.part:hover {
    background-color: var(--mainColor);
}

.part:hover .part-title {
    color: var(--secondaryColor);
}

.part:hover .part-icon {
    transform: translateY(-0.5rem);
}

.part-e:hover {
    background-color: var(--mainColor);
}

.part-e:hover .part-title {
    color: var(--secondaryColor);
}

.part-e:hover .part-icon {
    transform: translateY(-0.5rem);
}

@media screen and (min-width:35rem) {
    .part {
        float: left;
        width: 33%;
    }
    .part-e {
        float: left;
        width: 50%;
    }
}

@media screen and (min-width:75rem) {
    .part {
        width: 20%;
    }
    .part-e {
        width: 25%;
    }
}

/* End of Parts */

/* Comienzo de memoria */

.memoria {
    background-color: var(--backgroundColor);
}

.contenedor-memoria{
    display: flex;
    height: 30rem;
}

.texto-memoria {
    width: 50%;
    height: 100%;
    padding: 0rem 0rem;
}

.texto-memoria h1 {
    margin: 7% 0 2% 10%;
    font-size: 2.2rem;
}

.texto-memoria h2 {
    margin: 0% 0 2% 12%;
}

.texto-memoria p {
    margin: 0 15% 0 15%;
    font-size: 1.3rem;
    text-align: center;
}

.imagen-memoria-1 {
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
}

.imagen-memoria-2 {
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
}

.imagen-memoria img {
    width: 100%;
    position: relative;
    transform: translate(0, -20%);
}

@media screen and (max-width:35rem) {
    .contenedor-memoria {
        display: inline-block;
        height: 35rem;
    }
    .texto-memoria {
        width: 100%;
    }
    .imagen-memoria-1 {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .imagen-memoria-2 {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
}

/* Fin de memoria */

/* Comienzo de foto grupal */

.nuestro-equipo {
    background-color: var(--backgroundColor);
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    font-size: larger;
}

.foto-grupal {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    }

.texto-foto-grupal {
    background-color: var(--backgroundColor);
    padding: 3rem 10rem 5rem 10rem;
    text-align: center;
    font-size: large;
}

@media screen and (max-width:35rem) {
    .texto-foto-grupal {
        padding: 2rem 2rem 3rem 2rem;
    }
}

/* Fin de foto grupal */

/* Inicio de las preguntas */

.preguntas {
    background-color: var(--backgroundColor);
}

.preguntas h2 {
    padding: 5rem 0 0rem 15rem
}

.pregunta {
    padding: 3rem 20rem 2rem 20rem;
    font-size: 20px;
    font-weight: 600;
}

.pregunta li {
    list-style: square;
}

.respuesta {
    padding-left: 25rem;
    padding-right: 20rem;
    font-size: 18px;
}

@media screen and (max-width:70rem) {
    .preguntas h2 {
        padding: 2rem 0 0 3rem;
    }
    
    .pregunta {
        padding: 3rem 0rem 2rem 0rem;
        font-size: 20px;
        font-weight: 600;
    }
    
    .respuesta {
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 18px;
    }
}

/* Fin de las preguntas */

/* Inicio de precios */

.precio {
    background-color: var(--backgroundColor);
    padding-bottom: 10rem;
}

.precio h1 {
    font-size: 30px;
    text-align: center;
    padding: 3rem 0 3rem 0;
}

table {
    margin: 0 auto;
    border:  3px solid var(--mainColor);
}

table th {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

@media screen and (max-width:35rem) {
    table th {
        padding: 0.5rem 0rem 0.5rem 0rem;
    }
}

/* Fin de precios */
